.colorPalette {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.colorPickerLists {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
}

.toolbar {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
