.colorPicker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin-left: 0.5rem;
  width: 5rem;
}

.tile {
  width: 10rem;
  height: 10rem;
  border: none;
}

.tileColor{
  background-color: var(--color);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
}

.button {
  cursor: pointer;
}

.noPadding {
  padding: 0;
}
